:root {
  --background-color: #303a52;
  --highlight-color: #a4c5c6;
  --highlight-2-color: #d4ebd0;
  --highlight-3-color: #f78259;
  --font-color: #ddd;
}

html,
body {
  background-color: var(--background-color);
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11pt;
  color: var(--font-color);
}

main {
  max-width: 950px;
  margin: auto;
  padding: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  main {
    padding: 8px;
  }
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

a {
  background-color: var(--highlight-color);
  padding-right: 2px;
  padding-left: 2px;
  text-decoration: none;
  color: var(--background-color);
}

a:hover {
  background-color: var(--highlight-2-color);
  color: var(--background-color);
}

.country-filter {
  width: 100%;
}

.country-filter__input-container {
  position: relative;
  display: inline-block;
  width: 300px;
}

@media screen and (max-width: 550px) {
  .country-filter__input-container {
    margin: 20px 0 0px 0;
    width: 90%;
  }
}

@media screen and (max-width: 395px) {
  .country-filter__input-container {
    width: 100%;
  }
}

.country-filter__input {
  width: 100%;
  background-color: var(--highlight-color);
  color: var(--background-color);
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 5px;
  border: 1px solid var(--font-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0;
}

.country-filter__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.country-filter__btn {
  background-color: var(--highlight-color);
  color: var(--background-color);
  margin: 0;
  border: 0;
  opacity: 0.8;
}

.country-filter__btn:hover {
  background-color: var(--highlight-2-color);
}

@media screen and (max-width: 395px) {
  .country-filter__btn {
    display: none;
  }
}

.country-filter__autocomplete-container {
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  font-size: 1.1rem;
  font-weight: 500;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border: 1px solid var(--highlight-color);
  border-top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.country-filter__autocomplete-item {
  cursor: pointer;
  width: 100%;
  padding: 6px;
  background-color: rgba(48, 58, 82, 0.85);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.country-filter__autocomplete-item:hover {
  background-color: var(--highlight-color);
  color: var(--background-color);
}

.country-filter__autocomplete-item--active {
  background-color: var(--highlight-3-color);
  color: var(--background-color);
}

p {
  margin: 35px 0 50px 0;
}

.chart__loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 58, 82, 0.7);
  margin: 0;
}

.chart__loading--red {
  fill: red;
  -webkit-transition: fill 1s;
  transition: fill 1s;
}

.chart__err-msg {
  text-align: center;
  color: #ff0000;
  font-weight: 400;
  font-size: 1.2rem;
  visibility: hidden;
}

.chart__wrapper {
  position: relative;
}

@media screen and (max-width: 800px) {
  .chart__figure {
    margin: 0;
  }
}

.main-stats {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 30px 0 30px 0;
}

@media screen and (max-width: 800px) {
  .main-stats {
    margin: 30px 0 50px 0;
  }
}

.main-stats__container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main-stats__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 0.9em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.main-stats__number {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  font-weight: 600;
  font-size: 1.9em;
  line-height: 0.8em;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.main-stats--active {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  color: #a4c5c6;
}

.main-stats--recovered {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  color: #d4ebd0;
}

.main-stats--deaths {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  color: #f78259;
}
/*# sourceMappingURL=style.css.map */